# Ne pas pousser le fichier de correction
correction.css

# Fichiers système macOS
.DS_Store
.AppleDouble
.LSOverride

# Fichiers temporaires
*.tmp
*.log

# VS Code settings locaux
.vscode/

# Node (si jamais tu fais évoluer le projet)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log